*{
    margin: 0;
    padding: 0;
}

 .bar nav {
    float: left;
    padding-left: 55px;
} 

 .logo {
    float: left;
}

.logo img {
    width: 65px;
    padding-left: 5px;
    position: fixed;
} 

 .bar nav ul {
    display: flex;
    position: fixed;
} 

 .bar nav ul li {
    list-style: none;
    padding: 25px;

}

.bar nav ul li a {
    font-size: large;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    background-color: bisque;
    box-sizing: border-box;

}

.bar nav ul li a:hover {
    color: orange;
} 

.slide img{
     width: 100%;
}

.contact{
    width: 100%;
    float: left;
    clear: both;
    color: #f46c36;
}
.contact p{
    color: black;
    font-size:medium;
    font-weight: bold;
}
.form-group{
    float: left;
    width: 100%;
}
.form-group label{
    float: left;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
}
.form-group input{
    float: left;
    width: 100%;
    line-height: 41px;
    border: 1px solid #0c0304f6;
}
.form-group input[type="Submit"] {
    background-color: #f46236;
    font-size: 19px;
    color: white;
}

#about{
    color: #f46c36;
}

#about p{
    color: black;
    font-size:medium;
    font-weight: bold;
}
#products{
    color: #f46c36;
}

#products p{
    color: black;
    font-size:medium;
    font-weight: bold;
}
#blog{
    color: #f46c36;
}

#blog p{
    color: black;
    font-size:medium;
    font-weight: bold;
}
.gallery{
    width:100%;
    height:350px;
    display: flex;
    grid-template-columns: auto auto;
    justify-content: center;
    text-align: center;
    column-gap: 15px;
    row-gap: 10px;
}
.copy p {
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 59px;
    font-weight: bolder;
    background-color: beige;
    color: orangered;
}
.social {
    box-sizing: border-box;
    float: right;
    height: 40px;
    padding: 33px 15px 0px 0px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: medium;
    background-color: rgb(19, 200, 209);
    margin: 0 10px 10px 0;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    color: yellow;
}

.social-icons a:hover {
    color: blueviolet;
}





